<html>
<head></head>
<body>

<?php

require_once('controles/vagas.php');

Processo('editar');

?>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
         </script>
		<style type="text/css">
			.panel-default > .panel-heading-vermelho {
			 background: #A62A2A; color: #fff; }
			.panel-default > .panel-heading-azul{
			 background: #3366FF; color: #fff; }
			.panel-default > .panel-heading-magenta {
			 background: #FF00FF; color: #fff; }
			.panel-default > .panel-heading-amarelo {
			 background: #FFCC00; color: #fff; }
			.centered { margin: 0 auto !important;
    		float: none !important; }
			 
		.col-md-6 .row-fluid .panel.panel-primary .panel-body .container-fluid.centered .row-fluid.centered .centered .col-md-6 .table.table-responsive tr td {
	color: #FFF;
}
        .col-md-6 .row-fluid .panel.panel-primary .panel-body .container-fluid.centered .row-fluid.centered .centered .col-md-6 .table.table-responsive tr td2 {
	color: #004080;
}
        </style>


<script type="text/javascript">

$(function () {

	function removeCampo() {

		$(".removerCampo").unbind("click");

		$(".removerCampo").bind("click", function () {

			if($("tr.linhas").length > 1){

				$(this).parent().parent().remove();

			}

		});

	}

	//removeCampo();

	$(".adicionarCampo").click(function () {

		novoCampo = $("tr.linhas:first").clone();

		novoCampo.find("input").val("");

		novoCampo.insertAfter("tr.linhas:last");

		removeCampo();

	});

});

</script>


<center>									   
<h3>
  <legend>CADASTRAR</legend></h3>
<hr width="90%">
</center>
<!-- formulário responsivo -->

<form class="form-horizontal" id="form" name="form" method="post"><!--fim container-->
<hr width="90%">

<!-- fim formulário responsivo -->



<!-- formulario antigo

<form class="form-horizontal" id="form" name="form" method="post">

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <table width="1010" border="0" align="center">

    <tr>

      <td class="control-group"><strong>EVENTO </strong>

        <select name="ideventos" class="input-xlarge" id="ideventos" title="O campo evento é obrigatório">

          <option value="">Escolha o Evento</option>

          <?php for($i=0;$i<$linha;$i++){?>

          <option value="<?php echo mysql_result($rs,$i,'ideventos');?>"><?php echo mysql_result($rs,$i,'descricao');?></option>

          <?php }?>

        </select> 

        <strong>UNIDADE ESCOLAR</strong> <span style="margin-left:auto">

        <select name="idunidade_escolar" class="input-xlarge" id="idunidade_escolar" title="O campo unidade escolar é obrigatório">

          <?php for($i=0;$i<$linha2;$i++){ ?>

          <option value="<?php echo mysql_result($rs2,$i,'ue.idunidade_escolar');?>"><?php echo utf8_encode(mysql_result($rs2,$i,'ue.descricao'));?></option>

          <?php } ?>

        </select>

        </span>      </td>

    </tr>

    <tr>

      <td class="control-group"><span style="margin-left:auto"><strong>TIPO DE INSCRIÇÃO</strong> &nbsp;

        <select name="tipovaga" class="input-medium" id="tipovaga" title="O campo Segmento Escolar é obrigatório">

          <option value="INSCRICAO">INSCRIÇÃO</option>

          <option value="INSCRICAO_CCAIC">INSCRIÇÃO CCAIC</option>

          <option value="INSCRICAO_CAMPO">INSCRIÇÃO CAMPO</option>

          <option value="INSCRICAO_FASE1">INSCRICÃO FASE1</option>

          <option value="TRANSFERENCIA">TRANSFERÊNCIA</option>

	  <option value="TRANSFERENCIA_INTERNA">TRANSFERÊNCIA INTERNA</option>
	  <option value="TRANSFERENCIA_EXTERNA" selected="SELECTED">TRANSFERÊNCIA EXTERNA</option>
        </select>

        &nbsp;<strong>SEGMENTO</strong> &nbsp;

<select name="idtipo_segmento" class="input-xlarge" tabindex="1" id="idtipo_segmento" title="O campo tipo de segmento escolar é obrigatório" >

  <option value="">Escolha o tipo de segmento</option>

  <?php for($i=0;$i<$linha4;$i++){?>

  <option value="<?php echo mysql_result($rs4,$i,'idtipo_segmento');?>"><?php echo utf8_encode(mysql_result($rs4,$i,'descricao'));?></option>

  <?php }?>

</select>

      <strong>TURNO</strong> 

      <select name="idturno" class="input-medium" id="idturno" title="O campo Segmento Escolar é obrigatório">

        <option value="1">MANHÃ</option>

        <option value="2">VESPERTINO</option>

        <option value="3">NOTURNO</option>

      </select>

      </span></td>

    </tr>

    <tr>

      <td class="control-group"><input name="acao" type="hidden" id="acao"/></td>

    </tr>

    <tr>

      <td class="control-group"><center><button type="button" class="btn btn-primary" onclick="validar2(document.form);"> </i> PESQUISAR</button></center></td>

    </tr>

  </table> -->

  <br />

  
<div class="container">
  
  <table border="0" align="center" class="table table-hover table-responsive">
    <tr>
      <td colspan="2" bgcolor="#0F6DA2"><div align="center"><strong><font color="#FFF9F9"><?php echo utf8_encode(mysql_result($rs3,0,'ue.descricao'));?></font></strong></div></td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#519DBD"><div align="center"><strong><font color="#FFF9F9"><?php echo utf8_encode(mysql_result($rs3,0,'ts.descricao'))." - ".utf8_encode(mysql_result($rs3,0,'t.descricao'));?></font></strong></div></td>
    </tr>
    <tr>
      <td bgcolor="#689FBD"><strong>EDUCAÇÃO INFANTIL</strong></td>
      <td bgcolor="#689FBD"><strong><font color="#FFF9F9">TOTAL DE VAGAS </font></strong></td>
    </tr>
    <tr>
      <td width="435" bgcolor="#FFFFFF"><strong><font color="#FFF9F9" style="color: #000000">1 ANO</font></strong></td>
      <td width="233" bgcolor="#F5F5F5"><input type="text" name="textfield" id="textfield"></td>
    </tr>
    <?php for($i=0;$i<$linha3;$i++){?>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">2 ANOS</font></strong></td>
      <td><input type="text" name="textfield2" id="textfield2"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">3 ANOS</font></strong></td>
      <td><input type="text" name="textfield3" id="textfield3"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">4 ANOS</font></strong></td>
      <td><input type="text" name="textfield4" id="textfield4"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">5 ANOS</font></strong></td>
      <td><input type="text" name="textfield5" id="textfield5"></td>
    </tr>
    <tr>
      <td bgcolor="#689FBD"><strong>ENSINO FUNDAMENTAL</strong></td>
      <td bgcolor="#689FBD">&nbsp;</td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">1º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield6" id="textfield6"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">2º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield7" id="textfield7"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">3º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield8" id="textfield8"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">4º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield9" id="textfield9"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">5º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield10" id="textfield10"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">6º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield11" id="textfield11"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">7º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield12" id="textfield12"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">8º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield13" id="textfield13"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">9º ANO DE ESCOLARIDADE</font></strong></td>
      <td><input type="text" name="textfield14" id="textfield14"></td>
    </tr>
    <tr>
      <td bgcolor="#689FBD"><strong>EDUCAÇÃO DE JOVENS E ADULTOS</strong></td>
      <td bgcolor="#689FBD">&nbsp;</td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">ETAPA I</font></strong></td>
      <td><input type="text" name="textfield15" id="textfield15"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">ETAPA II</font></strong></td>
      <td><input type="text" name="textfield16" id="textfield16"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">ETAPA III</font></strong></td>
      <td><input type="text" name="textfield17" id="textfield17"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">ETAPA IV</font></strong></td>
      <td><input type="text" name="textfield18" id="textfield18"></td>
    </tr>
    <tr>
      <td><strong><font color="#FFF9F9" style="color: #000000">ETAPA V</font></strong></td>
      <td><input type="text" name="textfield19" id="textfield19"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#519DBD"><button type="button" class="btn btn-primary" onClick="validar2(document.form);"> SALVAR</button></td>
    </tr>
    <?php  }?>
  </table>
  <?php  }?>

  <p align="center">

   

    

    <input name="ok" type="hidden" id="ok"/>

    <?php  }?>

  </p>
</div> <!-- fim container -->
</form>

<script>

document.form.ideventos.value='<?php echo $_POST['ideventos'];?>';

document.form.idunidade_escolar.value='<?php echo $_POST['idunidade_escolar'];?>';

document.form.tipovaga.value='<?php echo $_POST['tipovaga'];?>';

document.form.idtipo_segmento.value=<?php echo $_POST['idtipo_segmento'];?>;

document.form.idturno.value='<?php echo $_POST['idturno'];?>';

document.form.acao.value='<?php echo $_POST['acao'];?>';

</script>

</body>
</html>