<style>
#termo-all {background:#fff; overflow:hidden;}
.termo { width:650px;  padding:20px;  } 


.style1 {font-weight: bold}
</style>

<div id="termo-all" align="center">
<div class="termo">
<p align="center"><u><b>TERMO DE ACEITE</b></u></p>
<p>&nbsp;</p>
<p><strong>a)	A pr&eacute;-inscri&ccedil;&atilde;o para educa&ccedil;&atilde;o infantil somente poder&aacute; ser realizada para crian&ccedil;as entre 01 (um) a 05 (cinco) anos de idade.</strong></p>
<p><strong>b)	A realiza&ccedil;&atilde;o da pr&eacute;-inscri&ccedil;&atilde;o para educa&ccedil;&atilde;o infantil n&atilde;o garante a efetiva&ccedil;&atilde;o da vaga.</strong></p>
<p><strong>c)	A pr&eacute;-inscri&ccedil;&atilde;o somente poder&aacute; ser realizada uma &uacute;nica vez por candidato e em apenas uma unidade escolar.</strong></p>
<p><strong>d)	Caso o candidato tenha participado da primeira etapa da pré-inscrição de matrícula, será desconsiderada a participação do mesmo candidato na segunda etapa.</strong></p>
<p><strong>e) No 1&deg; Ano de escolaridade do Ensino Fundamental e ETAPA I - ALFA do EJA,	os alunos serão alocados conforme disponibilidade de vaga das unidades escolares mais próximas das suas residência</strong>s.</p>
<p><strong>f) Em relação às pré-inscrições do </strong><strong>1&deg; Ano de escolaridade do Ensino Fundamental e ETAPA I - ALFA do EJA, a Secretaria Municipale de Educa&ccedil;&atilde;o informará aos candidatos ou responsáveis a unidade escolar em que o candidato foi contemplado com vaga.</strong> </p>
<p><strong>g)	A vaga do candidato &agrave; transfer&ecirc;ncia de unidade escolar ficar&aacute; assegurada, mediante a confirma&ccedil;&atilde;o da matr&iacute;cula pelo respons&aacute;vel na unidade escolar pretendida, ou seja, o candidato ou respons&aacute;vel dever&aacute; confirmar a sua matr&iacute;cula na unidade escolar mediante apresenta&ccedil;&atilde;o do n&uacute;mero de protocolo.</strong></p>
<p><strong>h)	É fundamental a anotação do número de protocolo para obtenção de informação da pré-matrícula do candidato.</strong></p>
<p><strong>i)	Ao se inscrever, o candidato declara estar ciente e de acordo com as informa&ccedil;&otilde;es contidas neste Termo.</strong><br />
</p>
</div>
</div>