<style>
#termo-all {background:#fff; overflow:hidden;}
.termo { width:650px;  padding:20px;  } 


.style1 {font-weight: bold}
</style>

<div id="termo-all" align="center">
<div class="termo">
<p align="center"><u><b>TERMO DE ACEITE - EDUCA&Ccedil;&Atilde;O ESPECIAL</b></u></p>


                     <p align="justify">1.	Os estudantes com defici&ecirc;ncias, transtornos globais do desenvolvimento e altas habilidades ou superdota&ccedil;&atilde;o, com laudo m&eacute;dico, ter&atilde;o a matr&iacute;cula priorit&aacute;ria na Rede Municipal de Ensino de Duque de Caxias.</p>
                    <p align="justify">2.	O laudo m&eacute;dico &eacute; condi&ccedil;&atilde;o indispens&aacute;vel para a confirma&ccedil;&atilde;o da matr&iacute;cula dos candidatos as vagas para estudantes com defici&ecirc;ncias, transtornos globais do desenvolvimento e altas habilidades ou superdota&ccedil;&atilde;o portanto, deve ser nominal, emitido por m&eacute;dico especialista e com data inferior a data da solicita&ccedil;&atilde;o da matr&iacute;cula.</p>
                    <p align="justify">3.	No ato da inscri&ccedil;&atilde;o o respons&aacute;vel pelo estudante com defici&ecirc;ncias, transtornos globais do desenvolvimento e altas habilidades ou superdota&ccedil;&atilde;o dever&aacute; marcar no campo apropriado qual a defici&ecirc;ncia especificada no  laudo m&eacute;dico, se houver.</p>
                    <p align="justify">4.	O respons&aacute;vel pelo estudante com defici&ecirc;ncias, transtornos globais do desenvolvimento e altas habilidades ou superdota&ccedil;&atilde;o dever&aacute; descrever no campo &ldquo;LAUDO&rdquo; todo o conte&uacute;do do laudo m&eacute;dico inclusive a especifica&ccedil;&atilde;o do tipo de defici&ecirc;ncia, a indica&ccedil;&atilde;o do c&oacute;digo correspondente da Classifica&ccedil;&atilde;o Internacional de Doen&ccedil;as (CID) e detalhes sobre as limita&ccedil;&otilde;es funcionais do candidato correlacionando-se a defici&ecirc;ncia e a consequente sequela, quando houver.</p>
                    <p align="justify">5.	O respons&aacute;vel pelo candidato a vaga de estudante com defici&ecirc;ncias, transtornos globais do desenvolvimento e altas habilidades ou superdota&ccedil;&atilde;o se compromete a comparecer na Secretaria Municipal de Educa&ccedil;&atilde;o em data pr&eacute;-agendada pela Coordenadoria de Educa&ccedil;&atilde;o Especial para a apresenta&ccedil;&atilde;o do laudo m&eacute;dico do candidato com vistas a melhor inser&ccedil;&atilde;o do estudante na Rede Municipal de Ensino. </p>
                    <p align="justify">6.	&Eacute; importante a anota&ccedil;&atilde;o do n&uacute;mero de protocolo para obten&ccedil;&atilde;o de informa&ccedil;&atilde;o da inscri&ccedil;&atilde;o do candidato.</p>
                    <p align="justify">7.	Ao se inscrever, o respons&aacute;vel e/ou candidato declara estar ciente e de acordo com as informa&ccedil;&otilde;es contidas neste Termo e Normativas da SME &ndash;DC.</p>


</div>
</div>