<style>
#termo-all {background:#fff; overflow:hidden;}
.termo { width:650px;  padding:20px;  } 


.style1 {font-weight: bold}
</style>

<div id="termo-all" align="center">
<div class="termo">
<p align="center"><u><b>TERMO DE ACEITE</b></u></p>
<p align="justify">&nbsp;</p>
<p align="center"><strong>EDUCAÇÃO INFANTIL II – PRÉ-ESCOLA (4  e 5 anos)</strong></p>
<div align="justify">
  <ol>
    <li>A pré-inscrição da Educação Infantil  II (Pré-Escola) somente poderá ser realizada para crianças de 4 e 5 anos de  idade.</li>
    <li>A pré-inscrição somente poderá ser  realizada uma única vez por candidato.</li>
    <li>O candidato selecionará 05 (cinco)  unidades escolares e será encaminhado para uma destas opções, conforme o  quantitativo de vagas disponíveis.</li>
    <li>Caso o candidato tenha participado da  primeira fase da pré-inscrição de matrícula, será desconsiderada a participação  do mesmo candidato na segunda fase.</li>
    <li>É fundamental a anotação do número de  protocolo para obtenção de informação da pré-matrícula do candidato.</li>
    <li>A Secretaria Municipal de Educação  disponibilizará a unidade contemplada pelo candidato no dia 05 de janeiro de  2016.</li>
    <li>A matrícula na Educação Infantil II  será efetivada na Unidade Escolar, apresentando a documentação requerida, de 05  a 15 de janeiro de 2016. O não comparecimento será considerado como desistência  de vaga.</li>
    <li>Ao se inscrever, o candidato declara  estar ciente e de acordo com as informações contidas neste Termo.</li>
  </ol>
</div>
<p align="center"><strong>ENSINO FUNDAMENTAL – 1º ANO </strong></p>
<div align="justify">
  <ol>
    <li>A pré-inscrição para o 1º ano do  Ensino Fundamental somente poderá ser realizada para crianças com idade mínima  de 6 anos.</li>
    <li>A pré-inscrição somente poderá ser  realizada uma única vez por candidato.</li>
    <li>O candidato selecionará 05 (cinco)  unidades escolares e será encaminhado para uma destas opções, conforme o  quantitativo de vagas disponíveis.</li>
    <li>Caso o candidato tenha participado da  primeira fase da pré-inscrição de matrícula, será desconsiderada a participação  do mesmo candidato na segunda fase.</li>
    <li>É fundamental a anotação do número de  protocolo para obtenção de informação da pré-matrícula do candidato.</li>
    <li>A Secretaria Municipal de Educação  disponibilizará a unidade contemplada pelo candidato no dia 05 de janeiro de  2016.</li>
    <li>A matrícula na Educação Infantil II  será efetivada na Unidade Escolar, apresentando a documentação requerida, de 05  a 15 de janeiro de 2016. O não comparecimento será considerado como desistência  de vaga.</li>
    <li>Ao se inscrever, o candidato declara  estar ciente e de acordo com as informações contidas neste Termo.</li>
  </ol>
</div>
<p align="center"><strong>EDUCAÇÃO JOVENS E ADULTOS – ETAPA I </strong></p>
<div align="justify">
  <ol>
    <li>A pré-inscrição para a Etapa I da Educação  Jovens e Adultos somente poderá ser realizada a partir dos 15 anos de idade.</li>
    <li>A pré-inscrição somente poderá ser  realizada uma única vez por candidato.</li>
    <li>O candidato selecionará 05 (cinco)  unidades escolares e será encaminhado para uma destas opções, conforme o  quantitativo de vagas disponíveis.</li>
    <li>Caso o candidato tenha participado da  primeira fase da pré-inscrição de matrícula, será desconsiderada a participação  do mesmo candidato na segunda fase.</li>
    <li>É fundamental a anotação do número de  protocolo para obtenção de informação da pré-matrícula do candidato.</li>
    <li>A Secretaria Municipal de Educação  disponibilizará a unidade contemplada pelo candidato no dia 05 de janeiro de  2016.</li>
    <li>A matrícula na Etapa I da Educação  Jovens e Adultos será efetivada na Unidade Escolar, apresentando a documentação  requerida, de 05 a 15 de janeiro de 2016. O não comparecimento será considerado  como desistência de vaga.</li>
    <li>Ao se inscrever, o candidato declara  estar ciente e de acordo com as informações contidas neste Termo.</li>
  </ol>
</div>
<p align="justify"><br />
</p>
</div>
</div>