<style>
#termo-all {background:#fff; overflow:hidden;}
.termo { width:650px;  padding:20px;  } 


.style1 {font-weight: bold}
</style>

<div id="termo-all">
<div class="termo">
<p align="center"><u><b>TERMO DE ACEITE</b></u></p>


<p align="justify">1.	 A pré-inscrição para educação infantil I somente  poderá ser realizada para crianças entre 01 (um) e 03 (três) anos de idade.</p>
<p align="justify">2.	A realização da pré-inscrição para Educação Infantil I não garante a efetivação da vaga.</p>
<p align="justify">3.	A vaga na Educação Infantil I será garantida apenas  aos contemplados no sorteio.</p>
<p align="justify">4.	O sorteio acontecerá na Unidade Escolar escolhida  nos dias 16 e 17 de dezembro de 2015. </p>
<p align="justify">5.	No dia 08 de dezembro de 2015 será publicado no  portal da SME – Duque de Caxias (<a href="http://www.smeduquedecaxias.rj.gov.br/" target="_blank">www.smeduquedecaxias.rj.gov.br</a>)  data e horário da realização do sorteio de cada Unidade Escolar.</p>
<p align="justify">6.	A pré-inscrição somente poderá ser realizada uma  única vez por candidato e em apenas uma unidade escolar.</p>
<p align="justify">7.	Caso o candidato tenha participado da primeira fase da pré-inscrição de matrícula, será desconsiderada a participação do  mesmo candidato na segunda fase.</p>
<p align="justify">8.	É fundamental a anotação do número de protocolo  para obtenção de informação da pré-matrícula do candidato.</p>
<p align="justify">9.	Ao se inscrever, o candidato declara estar ciente e  de acordo com as informações contidas neste Termo.</p>


</div>
</div>